{% load static %}
<html>
    <head>
        <link rel="stylesheet" href='{% static "myapp/src/output.css" %}'>

    </head>
    <body>
        <nav>
            <div>
                <div>
                    <div>
                        <div class="flex">
                            <img class="h-8 w-8" src='{% static "images/shop.png" %}' alt="logo" />
                            <span class="text-xl">Pro Shop</span>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <h4> 
            {% comment %} <a href='/myapp/hello/{{item.id}}/'> {% endcomment %}
            {%for item in items%}
            <a href="{% url 'myapp:detail' item.id %}">
            ID: {{item.id}} | Имя: {{item.name}} | Цена: {{item.price}}  <br/>
            </a>
            {% endfor %}
        </h4>
    </body>
</html>